* { font-family: "Geist", sans-serif; }

.primary-btn {
  border: 1px solid #E4E4E7;
  padding: 8px 12px;
  width: 120px;
  color: #64748B;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.active-tab {
  background-color: #4A00FF;
  color: #FFF;
}

.high-priority {
  background-color: #FEECEC;
  color: #EF4444;
  border: 1px solid #EF4444
}

.medium-priority {
  background-color: #FFF6D1;
  color: #F59E0B;
  border: 1px solid #F59E0B;
}

.low-priority {
  background-color: #EEEFF2;
  color: #9CA3AF;
  border: 1px solid #9CA3AF;
}